.navbar {
  background-color: #ffffff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav-item {
  position: relative;
  margin-right: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #111110;
}

.dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  width: 250px;
  transform-origin: top center;
  transform: scaleY(0);
  transition: transform 0.2s ease-in-out;
}

.dropdown-item:hover .dropdown {
  display: block;
  transform: scaleY(1);
  color: #141413;
}

.dropdown h6 {
  font-size: 14px;
  margin-bottom: 8px;
}

.dropdown li {
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #1a1916;
}

.nav-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

.nav-icon-button:hover {
  color: #1a1917;
}

.logo {
  width: 900%; 
  max-width: 300px; 
  height: auto; 
  display: block;
  margin: 0 auto; 
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px; /* Reduce el padding para dispositivos móviles */
  }

  .container {
    flex-direction: column; /* Cambia a diseño de columna */
    align-items: stretch; /* Estira los elementos */
  }

  .navbar-nav {
    flex-direction: column; /* Muestra los elementos en columna */
    align-items: stretch; /* Estira los elementos */
  }

  .nav-item {
    margin-right: 0; /* Elimina el margen derecho en dispositivos móviles */
    margin-bottom: 10px; /* Añade un espacio entre elementos */
  }

  .nav-link {
    padding: 10px 20px; /* Aumenta el padding horizontal */
    text-align: center; /* Centra el texto */
  }

  .dropdown {
    position: static; /* Cambia a posición estática */
    width: auto; /* Ancho automático */
    transform: scaleY(1); /* Muestra el dropdown */
    box-shadow: none; /* Elimina la sombra */
    padding: 0; /* Elimina el padding */
  }

  .dropdown-item:hover .dropdown {
    display: block; /* Oculta el dropdown en hover en móviles */
  }
}

/* Estilos para el formulario */
.search-form {
  display: flex;
  align-items: center;
  max-width: 500px; /* Ajusta el tamaño máximo del formulario */
  border: 1px solid #ddd; /* Borde gris claro */
  border-radius: 25px; /* Bordes redondeados */
  background-color: #f9f9f9; /* Color de fondo claro */
  padding: 1px; /* Espaciado interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para el campo de entrada */
.search-form input {
  flex: 1; /* El campo de entrada ocupa el espacio restante */
  border: none; /* Sin borde en el campo de entrada */
  border-radius: 25px; /* Bordes redondeados */
  padding: 10px 15px; /* Espaciado interno */
  font-size: 13px; /* Tamaño del texto */
  outline: none; /* Sin borde al enfocarse */
  margin-right: 5px; /* Espacio entre el campo de entrada y el botón */
}

/* Estilos para el botón */
.search-form button {
  background-color: #2e2d2de5; /* Color de fondo del botón */
  border: none; /* Sin borde */
  border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  color: white; /* Color del texto del botón */
  font-size: 16px; /* Tamaño del texto */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  display: flex; /* Alinea el icono dentro del botón */
  align-items: center; /* Centra el icono verticalmente */
}

/* Estilos para el ícono dentro del botón */
.search-form button .fa-search {
  font-size: 18px; /* Tamaño del ícono */
}

/* Efecto hover para el botón */
.search-form button:hover {
  background-color: #2e2d2de5; /* Color de fondo del botón al pasar el cursor */
}

/* Efecto focus para el campo de entrada */
.search-form input:focus {
  border: 1px solid #2e2d2de5; /* Borde azul al enfocar */
  box-shadow: 0 0 3px rgba(42, 42, 43, 0.5); /* Sombra azul sutil */
}
